body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #4e4e4e;
  background: #ef00df; /* fallback for old browsers */
  background: -webkit-linear-gradient(133deg, #41a367, #004e76) fixed; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(133deg, #41a367, #004e76) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pull-right{
  float: right;
  clear:both;
}

.pull-left{
  float: left;
  clear:both;
}
